.todo {
  width: 100%;
  height: 80px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: rgb(242, 242, 242);

  .left {
    width: 80%;
    padding: 15px;
    display: flex;
    align-items: center;

    .content{
      width: 80%;
      margin-left: 10px;
      h3 {
        font-size: 16px;
        color: rgb(29, 29, 29);
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
        font-size: 14px;
        color: rgb(122, 122, 122);
      }

      .task-done{
        text-decoration: line-through;
        opacity: 0.5;
      }
    }


    .check {
      
      input[type="checkbox"] {
        display: none;
      }

      .radio {
        display: block;
        background-color: rgba(120, 120, 120, 0.438);
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .radio.checked{
        background-color: rgb(193, 137, 245);
        display: flex;
        align-items: center;
        justify-content: center;
        
        .icon{
          color: white;
          font-size: 16px;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    
    .action-btns{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      

      button{
        border: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .delete-btn{
        color: rgb(252, 48, 48);
      }
    }

    
  }
}

@media  screen and (max-width: 425px) {
  .todo{
    .left{
      h3{
        font-size: 14px;
      }

      p{
        font-size: 12px;
      }
    }

    .right{
      .check{

        .radio{
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
