@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Mono", monospace;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
}

.app{
    padding: 16px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "calendar calendar todos"
    "calendar calendar todos"
    "totals totals todos";
    gap: 20px;

}

.calendar{
    grid-area: calendar;
}

.todos{
    grid-area: todos;
}

.totals{
    grid-area: totals;
}

@media screen and (max-width:991px){
    .app{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "calendar calendar todos todos"
        "calendar calendar todos todos"
        "totals totals todos todos";
    }
}


@media screen and (max-width: 768px) {
    body{
        overflow-y: auto;
    }
    .app{
        display: flex;
        flex-direction: column;
    }

}

