.todos{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    height: 100%;

    .todos-header{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            font-size: 24px;
            color: rgb(79, 79, 79);
        }

        .task-counter{
            display: flex;
            align-items: center;
            gap: 5px;
            color: rgb(128, 128, 128);
            p{
                font-size: 18px;
            }
        }

    }

    .todo-list{
        margin-top: 20px;
        overflow: auto;
    }
}